*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.navbar h4{
    color:#266696;
}
.navbar a{
    text-decoration: none;
}
.navbar a p{
    color: black;
}
.navbar-page{
    width: 40%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.loginbtn{
    width: 100px;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #266696;
    border: none;
    color: white;
}
.mobile1, .mobile2{
    display: none;
}
.toggle{
    display: none;
}



@media screen and (max-width:950px) {
    nav{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar-page{
        display: none;
    }
    .mobile2{
        width: 100%;
       height: 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 20px;
       transition: 1.5s ease-in;
       overflow: hidden;
        background-color:#266696;
        color: white;
    }
    .mobile1{
        width: 100%;
        height: 200px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        transition: 1.5s ease-in;
        overflow: hidden;
        background-color:#266696;
        color: white;
    }
    .mobile1 a p{
        font-size: 17px;
        color: white;
    }
    .mobile2 a p{
        color: white;
    }
    .toggle{
        display: flex;
    }
    .toggle button{
        font-size: 20px;
        padding: 2px 15px;
        background-color: #266696;
        border-radius: 15px;
        color: white;
        border: none;
        cursor: pointer;
    }
    .loginbtn{
        display: none;
        
    }
    .mobile1 button, .mobile2 button{
        width: 100px;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    border: none;
    color:#266696;
    }

}